<md-fab-speed-dial md-direction="up" md-open="fm.isOpen" class="md-scale md-fab-bottom-right" ng-class="md-fling"
ng-mouseenter="fm.isOpen=true" ng-mouseleave="fm.isOpen=false">
	<md-fab-trigger>
		<md-button aria-label="menu" class="md-fab md-warn">
			<md-tooltip md-direction="left" md-visible="tooltipVisible">Menu</md-tooltip>
			<md-icon aria-label="Menu">menu</md-icon>
		</md-button>
	</md-fab-trigger>
	<md-fab-actions>
		<div ng-repeat="item in fm.items">
			<md-button aria-label="{{item.name}}" class="md-fab md-raised md-mini" ui-sref="popupadd">
				<md-tooltip md-direction="{{item.direction}}" md-visible="tooltipVisible" md-autohide="false">
					{{item.toltip}}
				</md-tooltip>
				<md-icon aria-label="{{item.toltip}}" ng-style="{color: item.color, 'font-size': item.size + 'px', height: item.size + 'px'}">
					{{item.name}}
				</md-icon>
			</md-button>
		</div>
	</md-fab-actions>
</md-fab-speed-dial>

<script type="text/ng-template" id="dialog.html">
	<md-dialog>
		<md-toolbar>
			<div class="md-toolbar-tools">Cool Dialog!</div>
		</md-toolbar>
		<md-dialog-content layout-padding>
			Hello user! you clicked {{dialog.item.name}}.
		</md-dialog-content>
		<div class="md-actions">
			<md-button aria-label="Close dialog" ng-click="dialog.close()" class="md-primary">
				Close Greeting
			</md-button>
			<md-button aria-label="Submit dialog" ng-click="dialog.submit()" class="md-primary">
				Submit
			</md-button>
		</div>
	</md-dialog>
</script>