<!DOCTYPE html>
<html lang="en" ng-app="clApp">

<head>
	<meta charset="UTF-8">
	<title>ContactList Manager</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
	
		<base href="/">
	
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<link rel="stylesheet" href="styles/lib-8a9d0a59ba.css">

	<link rel="stylesheet" href="styles/app-1bfc1d6af7.css">

</head>

<body layout="row" ng-controller="shellCtrl as shellvm" ng-cloak>

	<div layout="column">
		<section layout="row" flex>
			<md-sidenav class="md-sidenav-left md-whiteframe-4dp" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
				<md-toolbar class="md-tall md-accent">
					<div class="md-toolbar-tools-bottom inset">
						<div>Demo</div>
						<div>Angular Material</div>
					</div>
				</md-toolbar>
				<div layout-align="start center">
					<md-button>My Contacts</md-button>
				</div>
			</md-sidenav>
		</section>
	</div>

	<div layout="column" layout-fill>
		<md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="showAdd($event)">
			<md-icon aria-label="Add">add</md-icon>
		</md-button>

		<section layout="row">
			<md-toolbar>
				<div class="md-toolbar-tools">
					<md-button ng-click="shellvm.toggleSidenav('left')" hide-gt-sm class="md-icon-button">
						<md-icon aria-label="Menu">menu</md-icon>
					</md-button>
					<h1> <md-icon aria-label="Phone">phone</md-icon>Contact List Manger</h1>
				</div>
			</md-toolbar>
		</section>

		<section layout="row" flex id="content">
			<md-content layout="column" flex class="md-padding">
				<md-card>
					<md-card-content>
						<div ui-view></div>
					</md-card-content>
				</md-card>

			</md-content>
		</section>
	</div>

	<script src="js/lib-c004568e3c.js"></script>

	<script src="js/app-09aa57c5d7.js"></script>

</body>

</html>