<div layout="row">
	<div flex>
		<h2>Contacts</h2>
	</div>
	<div flex-offset="85" flex-offset-sm="60">
		<md-button class="md-icon-button" ng-click="vm.cardView = false">
			<md-icon>view_list</md-icon>
		</md-button>
		<md-button class="md-icon-button" ng-click="vm.cardView = true">
			<md-icon>view_module</md-icon>
		</md-button>
	</div>
</div>
<md-list ng-show="!vm.cardView">
	<md-list-item ng-repeat="per in vm.contacts track by $index" class="md-3-line">
		<img ng-src="{{per.photo}}" class="md-avatar">

		<div class="md-list-item-text" ui-sref="contacts.view({ id: $index })" style="cursor: pointer;">
			<h3>{{per.last_name}}, {{per.first_name}}</h3>
			<h4>{{per.company}} <md-icon style="font-size:14px; height:14px">phone</md-icon>{{per.phone}}</h4>
			<p>
				{{per.notes}}
			</p>
		</div>
		<md-divider ng-if="!$last"></md-divider>
	</md-list-item>
</md-list>

<div layout="row" layout-wrap ng-show="vm.cardView">
	<md-card layout-padding flex-gt-sm="30" ng-repeat="per in vm.contacts track by $index" class="md-whiteframe-3dp">
		<img ng-src="{{per.photo}}">
		<md-card-content ui-sref="contacts.view({ id: $index })" style="cursor: pointer;">
			<h2 class="md-title">{{per.last_name + ',' + per.first_name}}</h2>
			<p>
				<md-icon>phone</md-icon>
				<label>Phone: </label>
				<span>{{per.phone}}</span>
			</p>
			<p>
				<md-icon>business</md-icon>
				<label>Company: </label>
				<span>{{per.company}}</span>
			</p>
			<md-icon>description</md-icon>
			<label>Notes: </label>
			<span>{{per.notes}}</span>
			</p>
		</md-card-content>
	</md-card>
</div>