<!DOCTYPE html>
<html lang="en" ng-app="clApp">

<head>
	<meta charset="UTF-8">
	<title>ContactList Manager</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
	
	<!-- build:remove -->
	<base href="/src/client/">
	<!-- endbuild -->
	
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<!-- build:css styles/lib.css -->
	<!-- bower:css -->
	<link rel="stylesheet" href="/bower_components/angular-material/angular-material.css" />
	<!-- endbower -->
	<!-- endbuild -->

	<!-- build:css styles/app.css -->
	<!-- inject:css -->
	<link rel="stylesheet" href="/.tmp/styles.css">
	<!-- endinject -->
	<!-- endbuild -->

</head>

<body layout="row" ng-controller="shellCtrl as shellvm" ng-cloak>

	<div layout="column">
		<section layout="row" flex>
			<md-sidenav class="md-sidenav-left md-whiteframe-4dp" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
				<md-toolbar class="md-tall md-accent">
					<div class="md-toolbar-tools-bottom inset">
						<md-button ui-sref="contacts.all">Demo</md-button>
						<div>Angular Material</div>
					</div>
				</md-toolbar>
				<div layout-align="start center">
					<md-button ng-click="shellvm.showToast()">My Contacts</md-button>
					<md-button ui-sref="contacts.add">New Contact</md-button>
				</div>
			</md-sidenav>
		</section>
	</div>

	<div layout="column" layout-fill>
		<!--<md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="showAdd($event)">
			<md-icon aria-label="Add">add</md-icon>
		</md-button>-->
		
		<floating-menu></floating-menu>

		<section layout="row">
			<md-toolbar>
				<div class="md-toolbar-tools">
					<md-button ng-click="shellvm.toggleSidenav('left')" hide-gt-sm class="md-icon-button">
						<md-icon aria-label="Menu">menu</md-icon>
					</md-button>
					<h1> <md-icon aria-label="Phone">phone</md-icon>Contact List Manger</h1>
				</div>
			</md-toolbar>
		</section>

		<section layout="row" flex id="content">
			<md-content layout="column" flex class="md-padding">
				<md-card>
					<md-card-content>
						<div ui-view></div>
					</md-card-content>
				</md-card>

			</md-content>
		</section>
	</div>

	<!-- build:js js/lib.js -->
	<!-- bower:js -->
	<script src="/bower_components/jquery/dist/jquery.js"></script>
	<script src="/bower_components/angular/angular.js"></script>
	<script src="/bower_components/angular-animate/angular-animate.js"></script>
	<script src="/bower_components/angular-aria/angular-aria.js"></script>
	<script src="/bower_components/angular-mocks/angular-mocks.js"></script>
	<script src="/bower_components/angular-cookies/angular-cookies.js"></script>
	<script src="/bower_components/angular-messages/angular-messages.js"></script>
	<script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
	<script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
	<script src="/bower_components/angular-material/angular-material.js"></script>
	<script src="/bower_components/Faker/build/build/faker.js"></script>
	<!-- endbower -->
	<!-- endbuild -->

	<!-- build:js js/app.js -->
	<!-- inject:js -->
	<script src="/src/client/app/app.module.js"></script>
	<script src="/src/client/app/core/app.core.module.js"></script>
	<script src="/src/client/app/directive/app.directive.module.js"></script>
	<script src="/src/client/app/mocks/app.mocks.module.js"></script>
	<script src="/src/client/app/service/app.service.module.js"></script>
	<script src="/src/client/app/core/core.config.js"></script>
	<script src="/src/client/app/core/core.controller.js"></script>
	<script src="/src/client/app/core/core.routes.js"></script>
	<script src="/src/client/app/core/person.controller.js"></script>
	<script src="/src/client/app/core/toastService.js"></script>
	<script src="/src/client/app/directive/floatingMenu.directive.js"></script>
	<script src="/src/client/app/mocks/personmock.js"></script>
	<script src="/src/client/app/mocks/staticmock.js"></script>
	<script src="/src/client/app/service/dataService.js"></script>
	<!-- endinject -->

	<!-- inject:templates:js -->
	<!-- endinject -->
	<!-- endbuild -->

</body>

</html>